---
import Base from '../../layouts/Base.astro'
import { Picture } from '@astrojs/image/components'
---
<Base title="Nieuwbouw | van Soest bouw">
<section class="generic-banner relative">
    <Picture
        class="banner-bg"
        src="/assets/img/header-bg.jpg"
        formats={['avif', 'webp', 'jpeg']}
        widths={[400,800,1200,1800]}
        width={1400}
        height={910}
        aspectRatio={4/1}
        alt="Nieuwbouw"
    />
    <div class="overlay-bg overlay"></div>
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h1 class="text-white">Nieuwbouw</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main-wrapper">
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic">
      <h1 class="about-title mb-30">Nieuwbouw</h1>
      <div class="row">
        <div class="col-md-8">
          <p>Van Soest Bouw biedt u vele mogelijkheden bij het bouwen van een eigen woning. Tijdens een persoonlijk gesprek informeren wij u graag over de mogelijkheden bij het bouwen van uw woning.</p>
          <p>Van Soest Bouw bespreekt alles met u: van het ontwerp van de woning tot en met het gebruik van de materialen. Alles wat met bouwen te maken heeft komt aan bod. Dankzij Van Soest Bouw staat u er niet alleen voor de tijdens de bouw van uw woning!</p>
        </div>
        <div class="col-md-4">
          <Picture
            class="img-fluid"
            src="/assets/img/header-bg.jpg"
            formats={['avif', 'webp', 'jpeg']}
            widths={[400,600,800]}
            width={1400}
            height={400}
            aspectRatio={45/23}
            alt="Nieuwbouw"
          />
        </div>
      </div>
    </div>
  </section>
</div>
</Base>
