---
import Base from '../../layouts/Base.astro'
import { Picture } from '@astrojs/image/components'
---
<Base title="Renovatie | van Soest bouw">
<section class="generic-banner relative">
    <Picture
        class="banner-bg"
        aspectRatio={1400/910}
        src="/assets/img/renovatie.jpg"
        formats={['avif', 'webp', 'jpeg']}
        widths={[400,800,1200,1800]}
        alt="Nieuwbouw"
    />
    <div class="overlay-bg overlay"></div>
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h1 class="text-white">Renovatie</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main-wrapper">
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic">
      <h1 class="about-title mb-30">Renovatie</h1>
      <div class="row">
        <div class="col-md-8">
          <p>Heeft u een verouderd pand dat geheel of gedeeltelijk aan een opknapbeurt toe is? Dan heeft u en kundig advies nodig. Er is meestal veel professionele kennis nodig om een bestaand pand (gedeeltelijk) te renoveren. Zo zijn wij bijvoorbeeld op de hoogte van de hedendaagse veiligheidseisen, en materialen. Van Soest Bouw heeft deze kennis in huis en helpt u graag bij de renovatie van uw woning of bedrijfspand.</p>
        </div>
        <div class="col-md-4">
          <Picture
            class="img-fluid"
            aspectRatio={1400/910}
            src="/assets/img/renovatie.jpg"
            formats={['avif', 'webp', 'jpeg']}
            height={400}
            widths={[400,600,800]}
            aspectRatio={1400/934}
            alt="Renovatie"
          />
        </div>
      </div>
    </div>
  </section>
</div>
</Base>
