---
import Base from '../layouts/Base.astro'
import { Picture } from '@astrojs/image/components'
---
<Base title="Bedankt | van Soest bouw" description="Dank voor uw bericht — we nemen snel contact op. Van Soest Bouw staat voor persoonlijke service.">
<section class="generic-banner relative">
    <Picture
        class="banner-bg"
        src="/assets/img/header-bg.jpg"
        formats={['avif', 'webp', 'jpeg']}
        widths={[400,800,1200,1800]}
        width={1400}
        height={910}
        aspectRatio={1400/910}
        alt="Over ons"
        style="aspect-ratio:1400/910"
    />
    <div class="overlay-bg overlay"></div>
  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h1 class="text-white">Bedankt</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main-wrapper">
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic">
      <h1 class="about-title mb-30">Bedankt voor je contact aanvraag</h1>
      <div class="row">
        <div class="col-md-8">
          <p>We nemen zo spoedig mogelijk contact met je op.</p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </section>
</div>

</Base>
