---
import Base from '../../layouts/Base.astro'
import { Picture } from '@astrojs/image/components'
---
<Base title="Aan-/verbouw | van Soest bouw">
<section class="generic-banner height relative">
    <Picture
        class="banner-bg"
        aspectRatio={1400/910}
        src="/assets/img/aan-verbouw.jpg"
        formats={['avif', 'webp', 'jpeg']}
        widths={[400,800,1200,1800]}
        alt="Aan-/Verbouw"
    />
    <div class="overlay-bg overlay"></div>

  <div class="container">
    <div class="row height align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="generic-banner-content">
          <h1 class="text-white">Aan-/verbouw</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="main-wrapper">
  <section class="about-generic-area section-gap">
    <div class="container border-top-generic">
      <h1 class="about-title mb-30">Aan-/verbouw</h1>
      <div class="row">
        <div class="col-md-8">
          <p>Heeft u plannen om uw woning uit te breiden of te verbouwen? Dan bent u bij Van Soest Bouw aan het juiste adres. Van Soest Bouw heeft ruime ervaring in het aanbouwen van bijvoorbeeld een serre, bijkeuken of garage. Ook de verbouw van uw badkamer, keuken of woonkamer kunt u met een gerust hart aan hen overlaten. Door hun jarenlange ervaring bent u verzekerd van professioneel inzicht en vernieuwende ideeën.</p>
        </div>
        <div class="col-md-4">
          <Picture
            class="img-fluid"
            aspectRatio={1400/910}
            src="/assets/img/aan-verbouw.jpg"
            formats={['avif', 'webp', 'jpeg']}
            height={400}
            widths={[400,600,800]}
            aspectRatio={1400/934}
            alt="Aan/verbouw"
          />
        </div>
      </div>
    </div>
  </section>
</div>
</Base>
